# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
SourceCode/officialPytorch/data/MNIST/processed/test.pt
SourceCode/officialPytorch/data/MNIST/processed/training.pt
SourceCode/officialPytorch/data/MNIST/raw/t10k-images-idx3-ubyte
SourceCode/officialPytorch/data/MNIST/raw/t10k-labels-idx1-ubyte
SourceCode/officialPytorch/data/MNIST/raw/train-images-idx3-ubyte
SourceCode/officialPytorch/data/MNIST/raw/train-labels-idx1-ubyte
SourceCode/MnistGithub/SourceCode/MnistGithub/Data/MNIST/processed/test.pt
SourceCode/MnistGithub/SourceCode/MnistGithub/Data/MNIST/processed/training.pt
SourceCode/MnistGithub/SourceCode/MnistGithub/Data/MNIST/raw/t10k-images-idx3-ubyte
SourceCode/MnistGithub/SourceCode/MnistGithub/Data/MNIST/raw/t10k-labels-idx1-ubyte
SourceCode/MnistGithub/SourceCode/MnistGithub/Data/MNIST/raw/train-images-idx3-ubyte
SourceCode/MnistGithub/SourceCode/MnistGithub/Data/MNIST/raw/train-labels-idx1-ubyte
.idea/EITI_masterThesis.iml
.idea/misc.xml
.idea/workspace.xml
SourceCode/efficientnet_pytorch/pretrainedModel/efficientnet-b4.pth
SourceCode/efficientnet_pytorch/pretrainedModel/efficientnet-b0.pth
